<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sqldbConnection" value="Data Source=5GGWLQ2\SQLEXPRESS;Initial Catalog=CodeFirstDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </appSettings>
</configuration>